extends layout

block content
  div#content
    h1= title
    p Please upload an image to start. QArt will add a QR code to any of your artwork to give your image a more meaningful layer of appreciation.
    form(action="/upload" method="POST" enctype="multipart/form-data")
      div.form-group
        div.custom-file.col.col-lg-6
          input.custom-file-input#uploadImage(type="file" name="image" accept="image/*")
          label.custom-file-label(for="image") Choose Image
      button.btn.btn-success#submit(type="submit") Upload File

    img.col.col-lg-6.mt-3#preview

  script(src="javascripts/landing.js")
