doctype html
html
  head
    title "Smartify"
    link(rel='stylesheet' href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='stylesheets/style.css')
    script(src='javascripts/jquery.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='javascripts/qrcode.js')
    script(src="javascripts/index.js")
  body
    div.container
      block content
