extends layout

block content
  div#mainContent
    h1 Success

    h3#terms.label #{label}
    p Image with QR code linking to the #[a.label(target="_blank")] Wikipedia page.

    p Share this artwork with your friends so they can join you in appreciating the beauty of art!

    p Go back to #[a(href="/") home].

    div#result

    canvas#canvas

    img#hiddenImage(src="data:image/png;base64, #{imageBase64}")
    div#hiddenQRCode

  div.modal#chooseOptionsDialog(tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false")
    div.modal-dialog(role="document")
      div.modal-content
        div.modal-header
          h5.modal-title Choose link to add
        div.modal-body
          div.list-group.mb-3#chooseOptions
          small Courtesy of Google Cloud Vision and Wikipedia
        div.modal-footer
          button.btn.btn-primary#confirm(type="button") Confirm

  script(src='javascripts/result.js')
