body {
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  background: url("../images/Background.png") no-repeat center center fixed;
  background-size: cover;
}

a {
  color: darkgray;
}

.modal {
  color: black;
}

#content {
  display: none;
}

#chooseOptions {
  max-height: 300px;
  overflow-y: scroll;
}

#hiddenImage, #hiddenQRCode, #canvas {
  display: none;
}

#preview, #result > img {
  max-width: 500px;
}
